{{!-- TRANG WEB TRA CỨU SỐ ĐIỆN THOẠI TÍCH ĐIỂM
ĐIỀN THÔNG TIN SỐ ĐIỆN THOẠI TRA CỨU TÍCH ĐIỂM
FORM ĐIỀN THÔNG TIN SỐ ĐIỆN THOẠI TRA CỨU TÍCH ĐIỂM
--}}
<div class="container mx-auto px-4 py-8">
    <div class="max-w-4xl mx-auto">
        <p class="text-gray-600 mb-4 text-2xl font-bold text-center">Kính gửi khách hàng</p>
        <p class="text-gray-600 text-md">Lời đầu tiên cửa hàng <span class="font-bold">PhoneStore</span> xin gửi lời cảm ơn
            sâu sắc
            đến Quý Khách hàng đã ủng hộ các sản phẩm của Công ty trong suốt thời gian vừa qua.</p>
        <p class="text-gray-600 text-md my-4">Để thể hiện sự đánh giá cao và tôn trọng về chất lượng sản phẩm cũng như
            dịch vụ của PhoneStore, cửa hàng sẽ tặng cho Quý Khách hàng những phần quà hấp dẫn.</p>
        <p class="text-gray-600 text-md my-4">Để nhận được phần quà này, Quý Khách hàng cần đạt được 100 điểm tích lũy
            trong thời gian 1 tháng.</p>
        <p class="text-gray-600 text-md my-4 mb-8">Quý Khách hàng có thể tra cứu tích điểm của mình bằng cách nhập số điện
            thoại vào ô tra cứu bên dưới.</p>
        <div class="bg-white rounded-xl p-8 shadow-sm">
            <h2 class="text-2xl font-semibold text-gray-800 mb-6 text-center">Tra Cứu Tích Điểm</h2>
            <form id="pointsForm">
                <div class="mb-4">
                    <label for="phone" class="block text-gray-700 font-semibold mb-2">Số Điện Thoại</label>
                    <input type="text" id="phone" name="phone"
                        class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                        placeholder="Nhập số điện thoại" required>
                </div>
                <button type="submit"
                    class="w-full bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">Tra
                    Cứu</button>
                <div id="result"></div>
            </form>
        </div>
        <h2 class="text-2xl font-semibold text-red-600 mb-2 text-center mt-10">Lưu ý</h2>
        <div class="flex items-center justify-center">
            <span class="text-red-600 text-2xl mr-2">!</span>
            <p class="text-red-600 text-md my-10 text-center">Cách tích điểm chỉ áp dụng khi mua trực tiếp tại cửa hàng</p>
        </div>
    </div>
</div>
<script src="/js/points.js"></script>